body {
    text-align: center;
    overflow: hidden;
     background-color: black;
}

#instructions {
    color: white;
    margin: 12px 0 6px;
    font-size: 16px;
}

#board {
    background-color: black;
}
